@import '~vuetify/src/stylus/theme.styl'

.green {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

$color-pack = false
$material-dark.cards = #545454

@import '~vuetify/src/stylus/main.styl'

.v-input--selection-controls .v-input__slot {
  margin: 0;
}
